{% extends 'base.html.twig' %}


{% block body %}

<div class="row">
    <div class="col-lg-12">
        {% for date, activities in activitiesByDates %}
            {{ render(controller('AppBundle:Default:list', { 'activities': activities, 'title': date | date('D d M Y') })) }}
        {% endfor %}
    </div>
</div>
{% endblock %}
