{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

<div class="row">
{% include 'Filter/form.html.twig' with { 'entity': entity } %}
</div>

<div class="row">
    <div class="col-xs-12">
        {{ render(controller('AppBundle:Default:list', { 'activities': entities, 'title': entity.query })) }}
    </div>
</div>

{% endblock %}