{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body -%}
    <h1>Filter creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('filter') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
