{% extends '::base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Modifier le tag <div class="pull-right">{{ form_start(delete_form) }}{{ form_errors(delete_form) }}<button type="submit" class="btn btn-default btn-xs" onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce tag ?')" title="Supprimer"><span class="glyphicon glyphicon-trash"></span></button>{{ form_end(delete_form) }}</div></div>
        <div class="panel-body">
            <div class="row">
                {% include "Tag/form.html.twig" with { 'form': edit_form } %}
                <div class="col-xs-2 text-right">
                    <a class="btn btn-default btn-sm" href="{{ path('tag') }}">Annuler</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Liste des tags</div>
        <div class="panel-body">
            {% include "Tag/list.html.twig" with { 'entities': entities } %}
        </div>
    </div>
</div>
{% endblock %}
