{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        
        <div class="col-xs-12">
            <div class="list-group">
            {% for entity in entities %}
                <a href="{{ path('tag_edit', { 'id': entity.id }) }}" class="list-group-item">
                    <span class="badge">14</span>
                    {% include 'Tag/button_small.html.twig' with {'tag': entity} %}
                    {% include 'Tag/button.html.twig' with {'tag': entity} %}
                </a>
            {% endfor %}
            </div>
        </div>

        <div class="col-xs-12">
            <a class="btn btn-default" href="{{ path('tag_new') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
        </div>
    </div>
{% endblock %}
