{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
<div class="row">
   <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Ajouter un tag</div>
            <div class="panel-body">
                <div class="row">
                {% include "Tag/form.html.twig" with { 'form': form } %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Liste des tags</div>
            <div class="panel-body">
                {% include "Tag/list.html.twig" with { 'entities': entities } %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
